<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agenda - Tambaú</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let agenda of listaAgenda">
      <h4 *ngIf="agenda.texto != ''" (click)="openModal(agenda.id)" >{{agenda.titulo}}</h4>
      <h4 *ngIf="agenda.texto == ''" >{{agenda.titulo}}</h4>
      <p>{{agenda.hora_inicial}} - {{agenda.hora_final}}</p>
      <ion-icon *ngIf="verificaFavorito(agenda.id)" name="star" item-end  (click)="buttonClickUnStar(agenda.id);" ></ion-icon>
      <ion-icon *ngIf="!verificaFavorito(agenda.id)" name="star-outline" item-end  (click)="buttonClickStar(agenda.id);" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
